name: PerformanceTests

on:
  workflow_dispatch:
    inputs:
      gateway_address:
        description: 'address for client to use as gateway'
        type: string
        default: 192.168.1.50
        required: true

run-name: Performance Testing

jobs:
  run-client:
    runs-on: vm-client
    env:
      LISTEN_ADDRESS: 127.0.0.1
      REMOTE_GATEWAY: ${{ github.inputs.gateway_address }}
    steps:
#      - uses: actions/checkout@v3
#      - name: Set up Go
#        uses: actions/setup-go@v3
#        with:
#          go-version: 1.18.10
#
      - name: Prepare
        shell: powershell
        run: |
          New-Item -Path . -Name "config" -ItemType "directory"
          (Get-Content -Path ./docker/client-env/qpep.yml.tpl) -match '%QPEP_GATEWAY%' -replace '$REMOTE_GATEWAY' > config/qpep.yml
          (Get-Content -Path ./config/qpep.yml) -match '%QPEP_ADDRESS%' -replace '$LISTEN_ADDRESS' > config/qpep.yml
          Get-Content -Path ./config/qpep.yml

      - name: Build Client
        shell: powershell
        run: |
          go build -v -o qpep.exe

      - name: Run Client
        shell: powershell
        run: |
          Start-Process ./qpep.exe -WorkingDir .

      - name: Run Tests
        shell: powershell
        run: |
          sleep 10

      - name: Stop Client
        shell: powershell
        run: |
          Stop-Process -Name "qpep.exe"

      - name: Cleanup
        if: always()
        shell: powershell
        run: |
          Remove-Item -Path ${{ github.workspace }}/*

  run-server:
    runs-on: vm-server
    env:
      CONTAINERS_SUBNET: 192.168.1.0/24
      MQTT_ADDRESS: 192.168.1.51
      LOGSTASH_ADDRESS: 192.168.1.52
      LISTEN_ADDRESS: 127.0.0.1
      REMOTE_GATEWAY: ${{ github.inputs.gateway_address }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Build Server
        run: |
          echo Check Server!
          ls
          docker version
          cd docker/
          pushd build-linux/
          docker build -t project-faster/qpep_server .
          popd
          pushd server-env/
          docker compose up -d
          popd
          sleep 2

      - name: Cleanup
        if: always()
        run: |
          cd docker/build-linux/
          docker compose down -v
          cd ../../
          rm -rf ${{ github.workspace }}/*

  check:
    needs: [ run-client, run-server ]
    runs-on: vm-server
    steps:
      - name: Final Check
        run: |
          echo Check Results!
          sleep 2
